.hero {
  display: flex;
  flex-direction: column;
  gap: 5em;
  align-items: center;
  margin-top: 6em;
  padding: 1.35em 3.35em 3.35em;

  small {
    font-size: var(--fs-normal);
    color: var(--clr-dark-soul);
  }

  .slogan {
    width: 90%;
    font-size: var(--fs-gigantic);
    color: var(--clr-dark-soul);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }

  picture {
    position: relative;
    top: 2em;

    img {
      width: 100%;
      aspect-ratio: 16 / 7;
      object-fit: cover;
      border: 2px solid #999;
      border-radius: 2em;
    }

    &::before {
      content: "Explore How";
      position: absolute;
      left: 50%;
      padding: 1em 2.5em;
      background-color: var(--clr-primary);
      border-radius: 1.35em;
      font-size: var(--fs-x-small-large);
      font-weight: 500;
      translate: -50% -50%;
      cursor: pointer;
    }
  }
}

@media (max-width: 1400px) {
  .hero {
    .slogan {
      font-size: var(--fs-medium-gigantic);
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    gap: 3em;

    .slogan {
      font-size: var(--fs-small-gigantic);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 4em;
    padding-inline: 1.25em;

    .slogan {
      font-size: var(--fs-x-small-gigantic);
    }

    picture {
      img {
        aspect-ratio: 16 / 9;
      }

      &::before {
        font-size: var(--fs-normal);
      }
    }
  }
}

@media (max-width: 480px) {
  .hero {
    padding-inline: 1em;

    .slogan {
      width: 100%;
      font-size: var(--fs-xx-small-gigantic);
    }

    picture {
      top: 1em;

      img {
        aspect-ratio: 1;
      }

      &::before {
        padding: 0.65em 1.35em;
        border-radius: 1em;
      }
    }
  }
}
