@mixin call-to-action {
  display: inline-block;
  position: relative;
  bottom: 0px;
  padding: 0.5em 1.45em;
  font-family: "Michroma", sans-serif;
  border: 1px solid var(--clr-dark-soul);
  color: var(--clr-dark-soul);
  border-radius: 0.725em;
}

.projects-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  padding: 4.35em 2.35em;

  .heading {
    width: 90%;
    font-size: var(--fs-gigantic);
    color: var(--clr-dark-soul);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;

    span {
      color: var(--clr-primary);
    }
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

    .project {
      width: min(100%, 400px);

      img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center 0%;
        border-radius: 1em;
        border: 2px solid #777;
      }

      .project-details {
        padding-left: 1em;

        p {
          margin-top: 1em;
          color: var(--clr-dark-soul);
          font-weight: 500;
        }

        .tags {
          display: flex;
          gap: 1em;
          margin-top: 0.5em;

          span {
            @include call-to-action;
            font-family: "Inter", sans-serif;
            border-color: #777;
            color: #777;
            border-radius: 0.5em;
          }
        }
      }
    }
  }

  .instagram-call {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    h2 {
      font-family: "Michroma", sans-serif;
      font-weight: 400;
      text-align: center;
    }

    div {
      text-align: center;

      a {
        @include call-to-action;
        margin-top: 1em;
        transition: bottom 0.2s linear;

        &:hover {
          bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .projects-section {
    .heading {
      font-size: var(--fs-medium-gigantic);
    }
  }
}

@media (max-width: 1024px) {
  .projects-section {
    .heading {
      font-size: var(--fs-small-gigantic);
    }

    .projects-container {
      .project {
        width: min(100%, 500px);

        img {
          aspect-ratio: 5/4;
        }
      }
    }
  }
}

@media (max-width: 906px) {
  .projects-section {
    .projects-container {
      gap: 3em;
    }
  }
}

@media (max-width: 768px) {
  .projects-section {
    padding-inline: 1.25em;

    .heading {
      font-size: var(--fs-x-small-gigantic);
    }
  }
}

@media (max-width: 480px) {
  .projects-section {
    gap: 4em;
    padding-inline: 1em;

    .heading {
      font-size: var(--fs-xx-small-gigantic);
    }

    .instagram-call {
      h2 {
        font-size: var(--fs-normal);
      }
    }
  }
}
